
# distance sensor class
class = exercise.IRSensor
#class = solution.IRSensor

# sensor translations (mm) relative to the axle midpoint
x =   7
y = -65
z = 117

# sensor orientation angles (deg) relative to the sensor's position
# (positive angle rotates counter clockwise)
pitch = 0
yaw = 20

# maximum value which can be returned by the sensor (mm)
max-value = 800

